--
-- PostgreSQL database dump
--

\restrict 0P8bYCS6DnWxpxk62SNspgTdoJgQTV9tOXvrKJ7vfI2XbJA7eN8Ub16tLIzOV0k

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: analytics_entity_type; Type: TYPE; Schema: public; Owner: kala_user
--

CREATE TYPE public.analytics_entity_type AS ENUM (
    'artist',
    'platform'
);


ALTER TYPE public.analytics_entity_type OWNER TO kala_user;

--
-- Name: broadcast_intent; Type: TYPE; Schema: public; Owner: kala_user
--

CREATE TYPE public.broadcast_intent AS ENUM (
    'launch',
    'preorder',
    'flash_sale',
    'exclusive_reveal'
);


ALTER TYPE public.broadcast_intent OWNER TO kala_user;

--
-- Name: broadcast_status; Type: TYPE; Schema: public; Owner: kala_user
--

CREATE TYPE public.broadcast_status AS ENUM (
    'draft',
    'sent',
    'failed'
);


ALTER TYPE public.broadcast_status OWNER TO kala_user;

--
-- Name: catalogue_launch_intent_enum; Type: TYPE; Schema: public; Owner: kala_user
--

CREATE TYPE public.catalogue_launch_intent_enum AS ENUM (
    'live',
    'preview',
    'preorder'
);


ALTER TYPE public.catalogue_launch_intent_enum OWNER TO kala_user;

--
-- Name: catalogue_status_enum; Type: TYPE; Schema: public; Owner: kala_user
--

CREATE TYPE public.catalogue_status_enum AS ENUM (
    'draft',
    'live',
    'ended'
);


ALTER TYPE public.catalogue_status_enum OWNER TO kala_user;

--
-- Name: catalogue_theme_enum; Type: TYPE; Schema: public; Owner: kala_user
--

CREATE TYPE public.catalogue_theme_enum AS ENUM (
    'warm',
    'earth',
    'cool',
    'dark'
);


ALTER TYPE public.catalogue_theme_enum OWNER TO kala_user;

--
-- Name: order_status_enum; Type: TYPE; Schema: public; Owner: kala_user
--

CREATE TYPE public.order_status_enum AS ENUM (
    'pending',
    'processing',
    'shipped',
    'delivered',
    'cancelled'
);


ALTER TYPE public.order_status_enum OWNER TO kala_user;

--
-- Name: post_type; Type: TYPE; Schema: public; Owner: kala_user
--

CREATE TYPE public.post_type AS ENUM (
    'story',
    'insight'
);


ALTER TYPE public.post_type OWNER TO kala_user;

--
-- Name: review_target_type; Type: TYPE; Schema: public; Owner: kala_user
--

CREATE TYPE public.review_target_type AS ENUM (
    'product',
    'catalogue'
);


ALTER TYPE public.review_target_type OWNER TO kala_user;

--
-- Name: tracking_event_enum; Type: TYPE; Schema: public; Owner: kala_user
--

CREATE TYPE public.tracking_event_enum AS ENUM (
    'confirmed',
    'dispatched',
    'out_for_delivery',
    'delivered',
    'cancelled'
);


ALTER TYPE public.tracking_event_enum OWNER TO kala_user;

--
-- Name: user_roles; Type: TYPE; Schema: public; Owner: kala_user
--

CREATE TYPE public.user_roles AS ENUM (
    'buyer',
    'artist',
    'admin'
);


ALTER TYPE public.user_roles OWNER TO kala_user;

--
-- Name: verification_status_enum; Type: TYPE; Schema: public; Owner: kala_user
--

CREATE TYPE public.verification_status_enum AS ENUM (
    'pending',
    'approved',
    'rejected'
);


ALTER TYPE public.verification_status_enum OWNER TO kala_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: addresses; Type: TABLE; Schema: public; Owner: kala_user
--

CREATE TABLE public.addresses (
    id character varying(36) NOT NULL,
    user_id character varying(36) NOT NULL,
    label character varying(50),
    full_address text NOT NULL,
    city character varying(100) NOT NULL,
    state character varying(100) NOT NULL,
    pin_code character varying(20) NOT NULL,
    country character varying(100) NOT NULL,
    is_default boolean,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.addresses OWNER TO kala_user;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: kala_user
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO kala_user;

--
-- Name: analytics_snapshots; Type: TABLE; Schema: public; Owner: kala_user
--

CREATE TABLE public.analytics_snapshots (
    id character varying(36) NOT NULL,
    entity_type public.analytics_entity_type NOT NULL,
    entity_id character varying(36),
    period character varying(20) NOT NULL,
    metrics json NOT NULL,
    ai_summary text,
    sentiment_summary text,
    generated_at timestamp without time zone
);


ALTER TABLE public.analytics_snapshots OWNER TO kala_user;

--
-- Name: artist_profiles; Type: TABLE; Schema: public; Owner: kala_user
--

CREATE TABLE public.artist_profiles (
    id character varying(36) NOT NULL,
    user_id character varying(36) NOT NULL,
    brand_name character varying(150) NOT NULL,
    full_name character varying(150) NOT NULL,
    location character varying(150),
    bio text,
    profile_image_url character varying(500),
    cover_image_url character varying(500),
    verification_status public.verification_status_enum NOT NULL,
    rejection_reason character varying(500),
    verified_at timestamp without time zone,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.artist_profiles OWNER TO kala_user;

--
-- Name: artist_revenue_trend; Type: TABLE; Schema: public; Owner: kala_user
--

CREATE TABLE public.artist_revenue_trend (
    id character varying(36) NOT NULL,
    artist_id character varying(36) NOT NULL,
    month character varying(7) NOT NULL,
    revenue numeric(12,2),
    orders integer,
    catalogue_views integer,
    story_engagement_rate double precision,
    recorded_at timestamp without time zone
);


ALTER TABLE public.artist_revenue_trend OWNER TO kala_user;

--
-- Name: broadcasts; Type: TABLE; Schema: public; Owner: kala_user
--

CREATE TABLE public.broadcasts (
    id character varying(36) NOT NULL,
    artist_id character varying(36) NOT NULL,
    catalogue_id character varying(36),
    message text NOT NULL,
    intent public.broadcast_intent NOT NULL,
    platforms json NOT NULL,
    status public.broadcast_status,
    scheduled_at timestamp without time zone,
    sent_at timestamp without time zone,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.broadcasts OWNER TO kala_user;

--
-- Name: buyer_profiles; Type: TABLE; Schema: public; Owner: kala_user
--

CREATE TABLE public.buyer_profiles (
    id character varying(36) NOT NULL,
    user_id character varying(36) NOT NULL,
    full_name character varying(150) NOT NULL,
    phone character varying(20),
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.buyer_profiles OWNER TO kala_user;

--
-- Name: cart_items; Type: TABLE; Schema: public; Owner: kala_user
--

CREATE TABLE public.cart_items (
    id character varying(36) NOT NULL,
    buyer_id character varying(36) NOT NULL,
    product_id character varying(36) NOT NULL,
    quantity integer DEFAULT 1 NOT NULL,
    added_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.cart_items OWNER TO kala_user;

--
-- Name: catalogue_likes; Type: TABLE; Schema: public; Owner: kala_user
--

CREATE TABLE public.catalogue_likes (
    id character varying(36) NOT NULL,
    catalogue_id character varying(36) NOT NULL,
    buyer_id character varying(36) NOT NULL,
    liked_at timestamp without time zone NOT NULL
);


ALTER TABLE public.catalogue_likes OWNER TO kala_user;

--
-- Name: catalogue_products; Type: TABLE; Schema: public; Owner: kala_user
--

CREATE TABLE public.catalogue_products (
    id character varying(36) NOT NULL,
    catalogue_id character varying(36) NOT NULL,
    product_id character varying(36) NOT NULL,
    sort_order integer NOT NULL
);


ALTER TABLE public.catalogue_products OWNER TO kala_user;

--
-- Name: catalogue_stats; Type: TABLE; Schema: public; Owner: kala_user
--

CREATE TABLE public.catalogue_stats (
    id character varying(36) NOT NULL,
    catalogue_id character varying(36) NOT NULL,
    total_views integer NOT NULL,
    total_likes integer NOT NULL,
    total_revenue numeric(12,2) NOT NULL,
    total_orders integer NOT NULL,
    last_updated timestamp without time zone NOT NULL
);


ALTER TABLE public.catalogue_stats OWNER TO kala_user;

--
-- Name: catalogue_views; Type: TABLE; Schema: public; Owner: kala_user
--

CREATE TABLE public.catalogue_views (
    id character varying(36) NOT NULL,
    catalogue_id character varying(36) NOT NULL,
    buyer_id character varying(36),
    viewed_at timestamp without time zone NOT NULL
);


ALTER TABLE public.catalogue_views OWNER TO kala_user;

--
-- Name: catalogues; Type: TABLE; Schema: public; Owner: kala_user
--

CREATE TABLE public.catalogues (
    id character varying(36) NOT NULL,
    artist_id character varying(36) NOT NULL,
    title character varying(200) NOT NULL,
    narrative text,
    cover_photo_url character varying(500),
    theme public.catalogue_theme_enum NOT NULL,
    launch_intent public.catalogue_launch_intent_enum NOT NULL,
    status public.catalogue_status_enum NOT NULL,
    philosophy text,
    artist_note text,
    published_at timestamp without time zone,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.catalogues OWNER TO kala_user;

--
-- Name: follows; Type: TABLE; Schema: public; Owner: kala_user
--

CREATE TABLE public.follows (
    id character varying(36) NOT NULL,
    buyer_id character varying(36) NOT NULL,
    artist_id character varying(36) NOT NULL,
    created_at timestamp without time zone
);


ALTER TABLE public.follows OWNER TO kala_user;

--
-- Name: order_items; Type: TABLE; Schema: public; Owner: kala_user
--

CREATE TABLE public.order_items (
    id character varying(36) NOT NULL,
    order_id character varying(36) NOT NULL,
    product_id character varying(36),
    product_title_snapshot character varying(200) NOT NULL,
    product_image_snapshot character varying(500),
    artist_name_snapshot character varying(150) NOT NULL,
    price_at_purchase numeric(10,2) NOT NULL,
    quantity integer DEFAULT 1 NOT NULL
);


ALTER TABLE public.order_items OWNER TO kala_user;

--
-- Name: order_tracking_events; Type: TABLE; Schema: public; Owner: kala_user
--

CREATE TABLE public.order_tracking_events (
    id character varying(36) NOT NULL,
    order_id character varying(36) NOT NULL,
    event public.tracking_event_enum NOT NULL,
    note text,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.order_tracking_events OWNER TO kala_user;

--
-- Name: orders; Type: TABLE; Schema: public; Owner: kala_user
--

CREATE TABLE public.orders (
    id character varying(36) NOT NULL,
    buyer_id character varying(36) NOT NULL,
    artist_id character varying(36) NOT NULL,
    status public.order_status_enum DEFAULT 'pending'::public.order_status_enum NOT NULL,
    subtotal numeric(10,2) NOT NULL,
    shipping_cost numeric(10,2) NOT NULL,
    total numeric(10,2) NOT NULL,
    shipping_address_snapshot json NOT NULL,
    payment_snapshot json NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.orders OWNER TO kala_user;

--
-- Name: payment_methods; Type: TABLE; Schema: public; Owner: kala_user
--

CREATE TABLE public.payment_methods (
    id character varying(36) NOT NULL,
    user_id character varying(36) NOT NULL,
    card_type character varying(50) NOT NULL,
    last_4 character varying(4) NOT NULL,
    expiry_month character varying(2) NOT NULL,
    expiry_year character varying(4) NOT NULL,
    is_default boolean,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.payment_methods OWNER TO kala_user;

--
-- Name: platform_revenue_trend; Type: TABLE; Schema: public; Owner: kala_user
--

CREATE TABLE public.platform_revenue_trend (
    id character varying(36) NOT NULL,
    month character varying(7) NOT NULL,
    total_orders integer,
    recorded_at timestamp without time zone,
    revenue numeric(14,2),
    new_signups integer,
    avg_order_value numeric(10,2)
);


ALTER TABLE public.platform_revenue_trend OWNER TO kala_user;

--
-- Name: post_likes; Type: TABLE; Schema: public; Owner: kala_user
--

CREATE TABLE public.post_likes (
    id character varying(36) NOT NULL,
    post_id character varying(36) NOT NULL,
    buyer_id character varying(36) NOT NULL,
    created_at timestamp without time zone
);


ALTER TABLE public.post_likes OWNER TO kala_user;

--
-- Name: posts; Type: TABLE; Schema: public; Owner: kala_user
--

CREATE TABLE public.posts (
    id character varying(36) NOT NULL,
    artist_id character varying(36) NOT NULL,
    type public.post_type NOT NULL,
    title character varying(300),
    body text NOT NULL,
    cover_image_url character varying(500),
    is_published boolean,
    published_at timestamp without time zone,
    created_at timestamp without time zone,
    updated_at timestamp without time zone,
    catalogue_id character varying(36)
);


ALTER TABLE public.posts OWNER TO kala_user;

--
-- Name: product_images; Type: TABLE; Schema: public; Owner: kala_user
--

CREATE TABLE public.product_images (
    id character varying(36) NOT NULL,
    product_id character varying(36) NOT NULL,
    image_url character varying(500) NOT NULL,
    is_primary boolean DEFAULT false NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.product_images OWNER TO kala_user;

--
-- Name: products; Type: TABLE; Schema: public; Owner: kala_user
--

CREATE TABLE public.products (
    id character varying(36) NOT NULL,
    artist_id character varying(36) NOT NULL,
    title character varying(200) NOT NULL,
    description text,
    materials text,
    dimensions character varying(200),
    price numeric(10,2) NOT NULL,
    category character varying(100),
    in_stock boolean DEFAULT true NOT NULL,
    is_deleted boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL,
    catalogue_id character varying(36)
);


ALTER TABLE public.products OWNER TO kala_user;

--
-- Name: reviews; Type: TABLE; Schema: public; Owner: kala_user
--

CREATE TABLE public.reviews (
    id character varying(36) NOT NULL,
    buyer_id character varying(36) NOT NULL,
    target_type public.review_target_type NOT NULL,
    target_id character varying(36) NOT NULL,
    rating integer,
    body text NOT NULL,
    is_deleted boolean,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.reviews OWNER TO kala_user;

--
-- Name: users; Type: TABLE; Schema: public; Owner: kala_user
--

CREATE TABLE public.users (
    id character varying(36) NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    role public.user_roles NOT NULL,
    is_suspended boolean,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.users OWNER TO kala_user;

--
-- Data for Name: addresses; Type: TABLE DATA; Schema: public; Owner: kala_user
--

COPY public.addresses (id, user_id, label, full_address, city, state, pin_code, country, is_default, created_at) FROM stdin;
\.


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: kala_user
--

COPY public.alembic_version (version_num) FROM stdin;
7609db7c2361
\.


--
-- Data for Name: analytics_snapshots; Type: TABLE DATA; Schema: public; Owner: kala_user
--

COPY public.analytics_snapshots (id, entity_type, entity_id, period, metrics, ai_summary, sentiment_summary, generated_at) FROM stdin;
\.


--
-- Data for Name: artist_profiles; Type: TABLE DATA; Schema: public; Owner: kala_user
--



--
-- Data for Name: artist_revenue_trend; Type: TABLE DATA; Schema: public; Owner: kala_user
--

COPY public.artist_revenue_trend (id, artist_id, month, revenue, orders, catalogue_views, story_engagement_rate, recorded_at) FROM stdin;
\.


--
-- Data for Name: broadcasts; Type: TABLE DATA; Schema: public; Owner: kala_user
--

COPY public.broadcasts (id, artist_id, catalogue_id, message, intent, platforms, status, scheduled_at, sent_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: buyer_profiles; Type: TABLE DATA; Schema: public; Owner: kala_user
--

COPY public.buyer_profiles (id, user_id, full_name, phone, created_at, updated_at) FROM stdin;
ae0d1a5d-1ae2-432e-a796-17d839dc9838	7098159d-baa7-4fba-ab18-665ad632faa2	trial user	\N	2026-04-18 22:30:22.617401	2026-04-18 22:30:22.617405
\.


--
-- Data for Name: cart_items; Type: TABLE DATA; Schema: public; Owner: kala_user
--

COPY public.cart_items (id, buyer_id, product_id, quantity, added_at, updated_at) FROM stdin;
\.


--
-- Data for Name: catalogue_likes; Type: TABLE DATA; Schema: public; Owner: kala_user
--

COPY public.catalogue_likes (id, catalogue_id, buyer_id, liked_at) FROM stdin;
\.


--
-- Data for Name: catalogue_products; Type: TABLE DATA; Schema: public; Owner: kala_user
--

COPY public.catalogue_products (id, catalogue_id, product_id, sort_order) FROM stdin;
\.


--
-- Data for Name: catalogue_stats; Type: TABLE DATA; Schema: public; Owner: kala_user
--



--
-- Data for Name: catalogue_views; Type: TABLE DATA; Schema: public; Owner: kala_user
--



--
-- Data for Name: catalogues; Type: TABLE DATA; Schema: public; Owner: kala_user
--



--
-- Data for Name: follows; Type: TABLE DATA; Schema: public; Owner: kala_user
--

COPY public.follows (id, buyer_id, artist_id, created_at) FROM stdin;
\.


--
-- Data for Name: order_items; Type: TABLE DATA; Schema: public; Owner: kala_user
--

COPY public.order_items (id, order_id, product_id, product_title_snapshot, product_image_snapshot, artist_name_snapshot, price_at_purchase, quantity) FROM stdin;
\.


--
-- Data for Name: order_tracking_events; Type: TABLE DATA; Schema: public; Owner: kala_user
--

COPY public.order_tracking_events (id, order_id, event, note, created_at) FROM stdin;
\.


--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: kala_user
--

COPY public.orders (id, buyer_id, artist_id, status, subtotal, shipping_cost, total, shipping_address_snapshot, payment_snapshot, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: payment_methods; Type: TABLE DATA; Schema: public; Owner: kala_user
--

COPY public.payment_methods (id, user_id, card_type, last_4, expiry_month, expiry_year, is_default, created_at) FROM stdin;
\.


--
-- Data for Name: platform_revenue_trend; Type: TABLE DATA; Schema: public; Owner: kala_user
--

COPY public.platform_revenue_trend (id, month, total_orders, recorded_at, revenue, new_signups, avg_order_value) FROM stdin;
\.


--
-- Data for Name: post_likes; Type: TABLE DATA; Schema: public; Owner: kala_user
--

COPY public.post_likes (id, post_id, buyer_id, created_at) FROM stdin;
\.


--
-- Data for Name: posts; Type: TABLE DATA; Schema: public; Owner: kala_user
--



--
-- Data for Name: product_images; Type: TABLE DATA; Schema: public; Owner: kala_user
--



--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: kala_user
--



--
-- Data for Name: reviews; Type: TABLE DATA; Schema: public; Owner: kala_user
--

COPY public.reviews (id, buyer_id, target_type, target_id, rating, body, is_deleted, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: kala_user
--



--
-- Name: artist_revenue_trend _artist_month_trend_uc; Type: CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.artist_revenue_trend
    ADD CONSTRAINT _artist_month_trend_uc UNIQUE (artist_id, month);


--
-- Name: follows _buyer_artist_follow_uc; Type: CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.follows
    ADD CONSTRAINT _buyer_artist_follow_uc UNIQUE (buyer_id, artist_id);


--
-- Name: post_likes _post_buyer_like_uc; Type: CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.post_likes
    ADD CONSTRAINT _post_buyer_like_uc UNIQUE (post_id, buyer_id);


--
-- Name: addresses addresses_pkey; Type: CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.addresses
    ADD CONSTRAINT addresses_pkey PRIMARY KEY (id);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: analytics_snapshots analytics_snapshots_pkey; Type: CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.analytics_snapshots
    ADD CONSTRAINT analytics_snapshots_pkey PRIMARY KEY (id);


--
-- Name: artist_profiles artist_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.artist_profiles
    ADD CONSTRAINT artist_profiles_pkey PRIMARY KEY (id);


--
-- Name: artist_profiles artist_profiles_user_id_key; Type: CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.artist_profiles
    ADD CONSTRAINT artist_profiles_user_id_key UNIQUE (user_id);


--
-- Name: artist_revenue_trend artist_revenue_trend_pkey; Type: CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.artist_revenue_trend
    ADD CONSTRAINT artist_revenue_trend_pkey PRIMARY KEY (id);


--
-- Name: broadcasts broadcasts_pkey; Type: CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.broadcasts
    ADD CONSTRAINT broadcasts_pkey PRIMARY KEY (id);


--
-- Name: buyer_profiles buyer_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.buyer_profiles
    ADD CONSTRAINT buyer_profiles_pkey PRIMARY KEY (id);


--
-- Name: buyer_profiles buyer_profiles_user_id_key; Type: CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.buyer_profiles
    ADD CONSTRAINT buyer_profiles_user_id_key UNIQUE (user_id);


--
-- Name: cart_items cart_items_pkey; Type: CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT cart_items_pkey PRIMARY KEY (id);


--
-- Name: catalogue_likes catalogue_likes_pkey; Type: CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.catalogue_likes
    ADD CONSTRAINT catalogue_likes_pkey PRIMARY KEY (id);


--
-- Name: catalogue_products catalogue_products_pkey; Type: CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.catalogue_products
    ADD CONSTRAINT catalogue_products_pkey PRIMARY KEY (id);


--
-- Name: catalogue_stats catalogue_stats_catalogue_id_key; Type: CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.catalogue_stats
    ADD CONSTRAINT catalogue_stats_catalogue_id_key UNIQUE (catalogue_id);


--
-- Name: catalogue_stats catalogue_stats_pkey; Type: CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.catalogue_stats
    ADD CONSTRAINT catalogue_stats_pkey PRIMARY KEY (id);


--
-- Name: catalogue_views catalogue_views_pkey; Type: CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.catalogue_views
    ADD CONSTRAINT catalogue_views_pkey PRIMARY KEY (id);


--
-- Name: catalogues catalogues_pkey; Type: CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.catalogues
    ADD CONSTRAINT catalogues_pkey PRIMARY KEY (id);


--
-- Name: follows follows_pkey; Type: CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.follows
    ADD CONSTRAINT follows_pkey PRIMARY KEY (id);


--
-- Name: order_items order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_pkey PRIMARY KEY (id);


--
-- Name: order_tracking_events order_tracking_events_pkey; Type: CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.order_tracking_events
    ADD CONSTRAINT order_tracking_events_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: payment_methods payment_methods_pkey; Type: CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.payment_methods
    ADD CONSTRAINT payment_methods_pkey PRIMARY KEY (id);


--
-- Name: platform_revenue_trend platform_revenue_trend_month_key; Type: CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.platform_revenue_trend
    ADD CONSTRAINT platform_revenue_trend_month_key UNIQUE (month);


--
-- Name: platform_revenue_trend platform_revenue_trend_pkey; Type: CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.platform_revenue_trend
    ADD CONSTRAINT platform_revenue_trend_pkey PRIMARY KEY (id);


--
-- Name: post_likes post_likes_pkey; Type: CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.post_likes
    ADD CONSTRAINT post_likes_pkey PRIMARY KEY (id);


--
-- Name: posts posts_pkey; Type: CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.posts
    ADD CONSTRAINT posts_pkey PRIMARY KEY (id);


--
-- Name: product_images product_images_pkey; Type: CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.product_images
    ADD CONSTRAINT product_images_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: reviews reviews_pkey; Type: CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_pkey PRIMARY KEY (id);


--
-- Name: cart_items uq_cart_buyer_product; Type: CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT uq_cart_buyer_product UNIQUE (buyer_id, product_id);


--
-- Name: catalogue_likes uq_catalogue_like; Type: CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.catalogue_likes
    ADD CONSTRAINT uq_catalogue_like UNIQUE (catalogue_id, buyer_id);


--
-- Name: catalogue_products uq_catalogue_product; Type: CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.catalogue_products
    ADD CONSTRAINT uq_catalogue_product UNIQUE (catalogue_id, product_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: addresses addresses_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.addresses
    ADD CONSTRAINT addresses_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: artist_profiles artist_profiles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.artist_profiles
    ADD CONSTRAINT artist_profiles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: artist_revenue_trend artist_revenue_trend_artist_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.artist_revenue_trend
    ADD CONSTRAINT artist_revenue_trend_artist_id_fkey FOREIGN KEY (artist_id) REFERENCES public.artist_profiles(id);


--
-- Name: broadcasts broadcasts_artist_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.broadcasts
    ADD CONSTRAINT broadcasts_artist_id_fkey FOREIGN KEY (artist_id) REFERENCES public.artist_profiles(id);


--
-- Name: broadcasts broadcasts_catalogue_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.broadcasts
    ADD CONSTRAINT broadcasts_catalogue_id_fkey FOREIGN KEY (catalogue_id) REFERENCES public.catalogues(id);


--
-- Name: buyer_profiles buyer_profiles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.buyer_profiles
    ADD CONSTRAINT buyer_profiles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: cart_items cart_items_buyer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT cart_items_buyer_id_fkey FOREIGN KEY (buyer_id) REFERENCES public.buyer_profiles(id);


--
-- Name: cart_items cart_items_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT cart_items_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: catalogue_likes catalogue_likes_buyer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.catalogue_likes
    ADD CONSTRAINT catalogue_likes_buyer_id_fkey FOREIGN KEY (buyer_id) REFERENCES public.buyer_profiles(id);


--
-- Name: catalogue_likes catalogue_likes_catalogue_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.catalogue_likes
    ADD CONSTRAINT catalogue_likes_catalogue_id_fkey FOREIGN KEY (catalogue_id) REFERENCES public.catalogues(id);


--
-- Name: catalogue_products catalogue_products_catalogue_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.catalogue_products
    ADD CONSTRAINT catalogue_products_catalogue_id_fkey FOREIGN KEY (catalogue_id) REFERENCES public.catalogues(id);


--
-- Name: catalogue_products catalogue_products_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.catalogue_products
    ADD CONSTRAINT catalogue_products_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: catalogue_stats catalogue_stats_catalogue_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.catalogue_stats
    ADD CONSTRAINT catalogue_stats_catalogue_id_fkey FOREIGN KEY (catalogue_id) REFERENCES public.catalogues(id);


--
-- Name: catalogue_views catalogue_views_buyer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.catalogue_views
    ADD CONSTRAINT catalogue_views_buyer_id_fkey FOREIGN KEY (buyer_id) REFERENCES public.buyer_profiles(id);


--
-- Name: catalogue_views catalogue_views_catalogue_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.catalogue_views
    ADD CONSTRAINT catalogue_views_catalogue_id_fkey FOREIGN KEY (catalogue_id) REFERENCES public.catalogues(id);


--
-- Name: catalogues catalogues_artist_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.catalogues
    ADD CONSTRAINT catalogues_artist_id_fkey FOREIGN KEY (artist_id) REFERENCES public.artist_profiles(id);


--
-- Name: follows follows_artist_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.follows
    ADD CONSTRAINT follows_artist_id_fkey FOREIGN KEY (artist_id) REFERENCES public.artist_profiles(id);


--
-- Name: follows follows_buyer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.follows
    ADD CONSTRAINT follows_buyer_id_fkey FOREIGN KEY (buyer_id) REFERENCES public.buyer_profiles(id);


--
-- Name: order_items order_items_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id);


--
-- Name: order_items order_items_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: order_tracking_events order_tracking_events_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.order_tracking_events
    ADD CONSTRAINT order_tracking_events_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id);


--
-- Name: orders orders_artist_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_artist_id_fkey FOREIGN KEY (artist_id) REFERENCES public.artist_profiles(id);


--
-- Name: orders orders_buyer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_buyer_id_fkey FOREIGN KEY (buyer_id) REFERENCES public.buyer_profiles(id);


--
-- Name: payment_methods payment_methods_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.payment_methods
    ADD CONSTRAINT payment_methods_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: post_likes post_likes_buyer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.post_likes
    ADD CONSTRAINT post_likes_buyer_id_fkey FOREIGN KEY (buyer_id) REFERENCES public.buyer_profiles(id);


--
-- Name: post_likes post_likes_post_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.post_likes
    ADD CONSTRAINT post_likes_post_id_fkey FOREIGN KEY (post_id) REFERENCES public.posts(id);


--
-- Name: posts posts_artist_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.posts
    ADD CONSTRAINT posts_artist_id_fkey FOREIGN KEY (artist_id) REFERENCES public.artist_profiles(id);


--
-- Name: posts posts_catalogue_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.posts
    ADD CONSTRAINT posts_catalogue_id_fkey FOREIGN KEY (catalogue_id) REFERENCES public.catalogues(id);


--
-- Name: product_images product_images_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.product_images
    ADD CONSTRAINT product_images_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: products products_artist_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_artist_id_fkey FOREIGN KEY (artist_id) REFERENCES public.artist_profiles(id);


--
-- Name: products products_catalogue_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_catalogue_id_fkey FOREIGN KEY (catalogue_id) REFERENCES public.catalogues(id);


--
-- Name: reviews reviews_buyer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kala_user
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_buyer_id_fkey FOREIGN KEY (buyer_id) REFERENCES public.buyer_profiles(id);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT ALL ON SCHEMA public TO kala_user;


--
-- PostgreSQL database dump complete
--

\unrestrict 0P8bYCS6DnWxpxk62SNspgTdoJgQTV9tOXvrKJ7vfI2XbJA7eN8Ub16tLIzOV0k

